/* Define custom CSS variables for color values */
:host(){
    --dark-blue:#022451;
    --white:#fff;
    --dark-grey:#cecece;
    --light-blue:#0076d3;
    --light-red:#e91515;
}

/* Styling for the entire application container */
.app{
    background: var(--dark-blue);
    min-height: 100vh;
    font-size: 16px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

/* Styling for the individual boxes */
.box{  
    height: 300px;
    width: 300px;
    background: var(--white);
    border-radius: 12px;
    margin: 12px;
}

/* Styling for the centered box */
.box-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Styling for the dotted circle */
.dotted-circle{
    border: 2px solid #000;
    border-radius: 50%;
    padding: 16px ;
}

/* Styling for heading elements */
h2{
    font-size: 20px;
    font-weight: 700;
}

/* Styling for custom icons */
.custom-icon{
    --slds-c-icon-color-foreground-default: var(--dark-blue);
}

/* Styling for edit icon */
.edit-icon{
    --slds-c-icon-color-background:var(--dark-blue);
}

/* Styling for delete icon */
.delete-icon{
    --slds-c-icon-color-background:var(--light-red);
}

/* Styling for header section */
header{
    background: var(--light-blue);
    color: var(--white);
    padding: 4px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* Styling for notes section */
.notes{
    height: 221px;
    overflow: auto;
    padding: 4px 16px;
}

/* Styling for footer section */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    background: var(--dark-grey);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Styling for date element */
.date{
    font-size: 14px;
    font-style: italic;
    color: gray;
}

/* Cursor style for elements */
.cursor{
    cursor: pointer;
}